h1 {
  padding-top: 8px;
  padding-bottom: 16px;
}
  
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 0px;
  padding-bottom: 0px;
}
  
/* Styling of grid items on blog overview */
.quarto-grid-item {
  border: none;
  border-radius: 8px;
  transition: box-shadow 0.4s;
}

.quarto-grid-item:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.listing-author {
  display: none; 
}
  
.listing-date {
  display: none; 
}
  
.card-body {
  padding: 8px 8px 8px 8px;
}
  
.card-img {
  padding-bottom: 8px;
  border-radius: 8px;
}
  
.listing-tile {
  margin-top: 8px;
}
  
.listing-description {
  padding-top: 8px;
}
  
.description {
  display: none;
}
  
#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  text-transform: none;
  margin: 0px;
  padding: 0px;
}

.card-body::after {
  content: "Read post \2192";
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
  position: relative;
}

.card-body:hover::after, 
.quarto-grid-item:hover .card-body::after,
.card-body:active::after {
  text-decoration: underline;
}
  
/* Styling of panel tabset */
.panel-tabset {
  border: none;
  outline: none;
  border-radius: 8px; /* Adjust the value to control the degree of rounding */
  overflow: hidden;   /* Ensure the corners are properly rounded */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 0px;
  margin: 0px 0px 16px 0px;
}

pre {
  margin: 0px
}

.tab-content {
  border: none; 
  outline: none; 
  margin: 0px
}

.nav-item[role="presentation"] {
  border: none; 
  outline: none;
  min-width: 92px;
  text-align: center  ;
}

.nav-link {
  border: none; 
  outline: none; 
}

.nav-tabs {
  border: 0px 0px 2px 0px; 
  outline: none; 
}

.nav-link:hover {
  border: none; 
  outline: none; 
  color: black;
}

.nav-link[role="tab"].active {
  outline: none; 
  font-weight: bold;
  transition: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid #3b9ab2; 
}

.nav-link {
  border: none; 
  outline: none; 
  font-weight: light;
  color: black;
  transition: none;
}

/* Basic styling for the category div */

.quarto-listing-category-title {
  padding-top: 24px;
  padding-block: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.category {
    display: inline-block;
    padding: 4px 8px; 
    border-radius: 24px;
    border: 1px solid #3b9ab2;
    background-color: white;
    color: #3b9ab2; 
    text-align: center;
    margin: 2px; 
    cursor: pointer;
    font-weight: normal;
}

.category.active {
    background-color: #3b9ab2; 
    color: white; 
    font-weight: normal;
}

/* Hide category count */
.quarto-category-count {
  display: none;
}

.quarto-categories {
  display: none !important;
}
